/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* Global code */
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #222222;
}

.clr {
  clear: both;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
img,
ul,
ol,
li,
input,
form,
.btn,
.navbar,
.breadcrumb,
.pagination,
iframe {
  margin: 0px;
  padding: 0px;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}


/* Main code start from hear */
header {
  background-color: #011128;
}

header .logo {
  margin-right: 40px;
}


header ul li {
  padding: 0 15px;
}


.nav-active {
  background: linear-gradient(90.16deg, rgba(255, 255, 255, 0.8) 4.56%, rgba(0, 170, 255, 0.5) 99.87%);
  padding: 1px;
  width: 100%;
  border-radius: 50%;
}

.header-right a {
  background-color: #00AAFF;
  margin-left: 25px;
  padding: 18px 36px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

.header-right a:hover {
  color: #fff;
}

#hero-section {
  height: 750px;
  background-image: url('/assets/img/hero-image.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

#hero-section .get-started a {
  background-color: #00AAFF;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.get-started h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 500;
}

.get-started h1 {
  margin-bottom: 30px;
  font-size: 64px;
  color: #00AAFF;
  font-weight: 700;
}

#checkout {
  background-color: #000;
  padding: 60px 0;
  color: #fff;
}

.checkout-r h1 {
  background: linear-gradient(90.28deg, rgba(255, 255, 255, 0.8) 0.29%, rgba(0, 170, 255, 0.5) 101.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.checkout-r a {
  background-color: #00AAFF;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.checkout-r a:hover {
  color: #fff;
}

#feature {
  background-color: #000;
  padding: 60px 0;
  color: #fff;
}

.feature-l h1 {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(90.16deg, rgba(255, 255, 255, 0.8) 4.56%, rgba(0, 170, 255, 0.5) 99.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.feature-line {
  margin: 15px 0;
  background: linear-gradient(90.16deg, rgba(255, 255, 255, 0.8) 4.56%, rgba(0, 170, 255, 0.5) 99.87%);
  padding: 1px;
  width: 270px;
  border-radius: 50%;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.checkout-line {
  margin: 15px 0;
  background: linear-gradient(90.16deg, rgba(255, 255, 255, 0.8) 4.56%, rgba(0, 170, 255, 0.5) 99.87%);
  padding: 1px;
  width: 180px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: -15px;
}

#bit-coin {
  background-color: #000;
  padding: 100px 0;
  color: #fff;
}

.bit-l h1 {
  background: linear-gradient(90.28deg, rgba(255, 255, 255, 0.8) 0.29%, rgba(0, 170, 255, 0.5) 101.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.bit-l a {
  background-color: #00AAFF;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.bit-l a:hover {
  color: #fff;
}

.bit-r {
  position: relative;
  background-image: url('/assets/img/bit-coin-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bit-r-card {
  border-radius: 10px;
  position: absolute;
  left: 20%;
  bottom: -70px;
  background-color: #fff;
  width: 350px;
  color: #000;
  display: flex;
  align-items: center;
}

#break {
  background-color: #000;
  padding: 100px 0;
  color: #fff;
}

.break-l {
  position: relative;
}

.break-l-body {
  border-radius: 10px;
  position: absolute;
  bottom: -43px;
  background-color: #fff;
  width: 450px;
  color: #000;
  display: flex;
  align-items: center;
}

.break-r-body h1 {
  background: linear-gradient(90.28deg, rgba(255, 255, 255, 0.8) 0.29%, rgba(0, 170, 255, 0.5) 101.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 5px;
}

.break-r-body a {
  background-color: #00AAFF;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.break-r-body a:hover {
  color: #fff;
}

#partner {
  background-color: #000;
  padding: 120px 0;
}

#wallet {
  background-color: #000;
  padding: 60px 0;
  color: #fff;
}

#faq {
  background-color: #000;
  padding: 120px 0;
}

#faq .accordion-button::after {
  background-image: url('/assets/img/Vector.svg');
}

.partner h1 {
  font-size: 40px;
}

.partner h6 {
  font-size: 20px;
}


#faq .accordion-button:not(.collapsed)::after {
  background-image: url('/assets/img/Vector.svg');
  transform: rotate(-180deg);
}

#faq .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}

.faq-l {
  max-height: 390px;
  padding: 80px 60px;
  border: 3px solid #252b34;
  background-image: url('/assets/img/question.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.faq-l h1 {
  background: linear-gradient(90.28deg, rgba(255, 255, 255, 0.8) 0.29%, rgba(0, 170, 255, 0.5) 101.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 30px;
}

footer {
  background-color: #011128;
  padding: 60px 0;
  color: #fff;
}

footer ul li a {
  color: #A0A0A0;
  text-decoration: none;
}

footer ul li a:hover {
  color: #fff;
}

footer ul li {
  list-style: inside;
  padding: 7px 0;

}

footer h5 {
  margin-bottom: 25px;
}

footer .social ul li {
  float: left;
  list-style: none;
  padding-right: 10px;
}

.checkout-ll {
  margin-left: -50px;
}

.wallet-r {
  padding: 60px;
  text-align: center;
}

.wallet-r h1 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

.wallet-r a {
  background-color: #00AAFF;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
}

.checkout-img img {
  width: 280px;
}

.hero-r img {
  margin-top: 120px;
}


@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 428px) {
  .footer-li {
    padding-left: 30%!important;
    padding-top: 25px;
  }
  .faq-l h1 {
    font-size: 36px;
  }

  #checkout {
    padding: 30px 0;
  }

  #feature {
    padding: 30px 0;
  }

  #partner {
    padding: 30px 0;
  }

  #faq {
    padding: 60px 0;
  }

  .get-started {
    text-align: center;
  }

  .get-started h2 {
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
  }

  .get-started h1 {
    font-size: 30px;
    text-align: center;
  }

  .get-started p {
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
  }

  #hero-section .get-started a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero-r img {
    margin-top: 20px;
  }

  .checkout-ll {
    margin-left: -6%;
  }

  .checkout-lll {
    margin-left: -6%;
  }

  .checkout-img {
    text-align: center;
  }

  .checkout-img img {
    width: 450px;
  }

  .checkout-r {
    text-align: center;
  }

  .checkout-line {
    left: 28%;

  }

  .checkout-r .p1 {
    margin-top: 30px;
  }

  .checkout-r a {
    padding: 10px 20px;
    font-size: 20px;
  }

  .feature-l {
    text-align: center;
  }

  .checkout-r h1 {
    font-size: 36px;
  }

  .feature-l h1 {
    font-size: 36px;
  }

  .feature-line {
    left: 11%;
    bottom: -24px;
  }

  .feature-l .p1 {
    margin-top: 30px;
  }

  .partner h1 {
    font-size: 30px;
  }

  .partner h6 {
    font-size: 16px;
  }

  .wallet-r h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .wallet-r a {
    padding: 15px 30px;
  }

  .faq-l {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    max-height: 270px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .social ul {
    justify-content: center;
    display: flex;
  }

  footer p {
    padding: 0 20px;
    text-align: center;
  }

  .f-logo {
    text-align: center;
  }

}

@media only screen and (max-width: 414px) {
  .footer-li {
    padding-left: 30%!important;
    padding-top: 25px;
  }
  .faq-l h1 {
    font-size: 36px;
  }
  #checkout {
    padding: 30px 0;
  }

  #feature {
    padding: 30px 0;
  }

  #partner {
    padding: 30px 0;
  }

  #faq {
    padding: 60px 0;
  }

  .get-started {
    text-align: center;
  }

  .get-started h2 {
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
  }

  .get-started h1 {
    font-size: 30px;
    text-align: center;
  }

  .get-started p {
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
  }

  #hero-section .get-started a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero-r img {
    margin-top: 20px;
  }

  .checkout-ll {
    margin-left: -6%;
  }

  .checkout-lll {
    margin-left: -6%;
  }

  .checkout-img {
    text-align: center;
  }

  .checkout-img img {
    width: 450px;
  }

  .checkout-r {
    text-align: center;
  }

  .checkout-line {
    left: 28%;

  }

  .checkout-r .p1 {
    margin-top: 30px;
  }

  .checkout-r a {
    padding: 10px 20px;
    font-size: 20px;
  }

  .feature-l {
    text-align: center;
  }

  .checkout-r h1 {
    font-size: 36px;
  }

  .feature-l h1 {
    font-size: 36px;
  }

  .feature-line {
    left: 11%;
    bottom: -24px;
  }

  .feature-l .p1 {
    margin-top: 30px;
  }

  .partner h1 {
    font-size: 30px;
  }

  .partner h6 {
    font-size: 16px;
  }

  .wallet-r h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .wallet-r a {
    padding: 15px 30px;
  }

  .faq-l {
    text-align: center;
    margin-bottom: 40px;
    padding: 30px;
    max-height: 270px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .social ul {
    justify-content: center;
    display: flex;
  }

  footer p {
    padding: 0 20px;
    text-align: center;
  }

  .f-logo {
    text-align: center;
  }
}

@media only screen and (max-width: 393px) {
  .footer-li {
    padding-left: 30%!important;
    padding-top: 25px;
  }
  .faq-l h1 {
    font-size: 36px;
  }
  #checkout {
    padding: 30px 0;
  }

  #feature {
    padding: 30px 0;
  }

  #partner {
    padding: 30px 0;
  }

  #faq {
    padding: 60px 0;
  }

  .get-started {
    text-align: center;
  }

  .get-started h2 {
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
  }

  .get-started h1 {
    font-size: 30px;
    text-align: center;
  }

  .get-started p {
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
  }

  #hero-section .get-started a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero-r img {
    margin-top: 20px;
  }

  .checkout-ll {
    margin-left: -11%;
  }

  .checkout-lll {
    margin-left: -11%;
  }

  .checkout-img {
    text-align: center;
  }

  .checkout-img img {
    width: 450px;
  }

  .checkout-r {
    text-align: center;
  }

  .checkout-line {
    left: 28%;

  }

  .checkout-r .p1 {
    margin-top: 30px;
  }

  .checkout-r a {
    padding: 10px 20px;
    font-size: 20px;
  }

  .feature-l {
    text-align: center;
  }

  .checkout-r h1 {
    font-size: 36px;
  }

  .feature-l h1 {
    font-size: 36px;
  }

  .feature-line {
    left: 11%;
    bottom: -24px;
  }

  .feature-l .p1 {
    margin-top: 30px;
  }

  .partner h1 {
    font-size: 30px;
  }

  .partner h6 {
    font-size: 16px;
  }

  .wallet-r h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .wallet-r a {
    padding: 15px 30px;
  }

  .faq-l {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    max-height: 270px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .social ul {
    justify-content: center;
    display: flex;
  }

  footer p {
    padding: 0 20px;
    text-align: center;
  }

  .f-logo {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .footer-li {
    padding-left: 30%!important;
    padding-top: 25px;
  }
  .faq-l h1 {
    font-size: 32px;
  }
  .wallet-r {
    padding: 20px;
  }

  #checkout {
    padding: 30px 0;
  }

  #feature {
    padding: 30px 0;
  }

  #partner {
    padding: 30px 0;
  }

  #faq {
    padding: 60px 0;
  }

  .get-started {
    text-align: center;
  }

  .get-started h2 {
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
  }

  .get-started h1 {
    font-size: 30px;
    text-align: center;
  }

  .get-started p {
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
  }

  #hero-section .get-started a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero-r img {
    margin-top: 20px;
  }

  .checkout-ll {
    margin-left: -6%;
  }

  .checkout-lll {
    margin-left: -6%;
  }

  .checkout-img {
    text-align: center;
  }

  .checkout-img img {
    width: 390px;
  }

  .checkout-r {
    text-align: center;
  }

  .checkout-line {
    left: 28%;

  }

  .checkout-r .p1 {
    margin-top: 30px;
  }

  .checkout-r a {
    padding: 10px 20px;
    font-size: 20px;
  }

  .feature-l {
    text-align: center;
  }

  .checkout-r h1 {
    font-size: 36px;
  }

  .feature-l h1 {
    font-size: 36px;
  }

  .feature-line {
    left: 11%;
    bottom: -24px;
  }

  .feature-l .p1 {
    margin-top: 30px;
  }

  .partner h1 {
    font-size: 30px;
  }

  .partner h6 {
    font-size: 16px;
  }

  .wallet-r h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .wallet-r a {
    padding: 15px 30px;
  }

  .faq-l {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    max-height: 270px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .social ul {
    justify-content: center;
    display: flex;
  }

  footer p {
    padding: 0 20px;
    text-align: center;
  }

  .f-logo {
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .footer-li {
    padding-left: 30%!important;
    padding-top: 25px;
  }
  .faq-l h1 {
    font-size: 32px;
  }
  .wallet-r {
    padding: 10px;
  }
  #checkout {
    padding: 30px 0;
  }

  #feature {
    padding: 30px 0;
  }

  #partner {
    padding: 30px 0;
  }

  #faq {
    padding: 60px 0;
  }

  .get-started {
    text-align: center;
  }

  .get-started h2 {
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
  }

  .get-started h1 {
    font-size: 30px;
    text-align: center;
  }

  .get-started p {
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
  }

  #hero-section .get-started a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero-r img {
    margin-top: 20px;
  }

  .checkout-ll {
    margin-left: -6%;
  }

  .checkout-lll {
    margin-left: -6%;
  }

  .checkout-img {
    text-align: center;
  }

  .checkout-img img {
    width: 330px;
  }

  .checkout-r {
    text-align: center;
  }

  .checkout-line {
    left: 19%;

  }

  .checkout-r .p1 {
    margin-top: 30px;
  }

  .checkout-r a {
    padding: 10px 20px;
    font-size: 20px;
  }

  .feature-l {
    text-align: center;
  }

  .checkout-r h1 {
    font-size: 36px;
  }

  .feature-l h1 {
    font-size: 36px;
  }

  .feature-line {
    left: 23%;
    bottom: -24px;
    width: 150px;
  }

  .feature-l .p1 {
    margin-top: 30px;
  }

  .partner h1 {
    font-size: 30px;
  }

  .partner h6 {
    font-size: 16px;
  }

  .wallet-r h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .wallet-r a {
    padding: 15px 30px;
  }

  .faq-l {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    max-height: 270px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .social ul {
    justify-content: center;
    display: flex;
  }

  footer p {
    padding: 0 20px;
    text-align: center;
  }

  .f-logo {
    text-align: center;
  }
}

@media only screen and (max-width: 280px) {}