/* == Some common css == */

.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}

/* == Sign -in css start == */

.full-bg {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url(/assets/images/sing-in.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  visibility: inherit;
}

.img-centered {
  padding-top: 24px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.184);
  padding-bottom: 16px;
}

.card-p {
  width: 42%;
  top: 16%;
  left: 31%;
  height: 60%;
  background-color: #0f1a29;
  border-radius: 12px;
  /* box-shadow: 0 6px 6px 0 rgb(255 255 255 / 12%), 0 10px 20px 0 rgb(255 255 255 / 30%); */
}

.header-img {
  width: 43%;
  position: relative;
  margin-left: 28%;
  padding-bottom: 6px;
}

.sing-in-form-header h3 {
  color: #fff;
}
.card-t {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
}
.card-s {
  padding-top: 18px;
  font-size: 16px;
  font-weight: 400;
}

.font-color-s {
  color: #c4c4c4;
}

.pd-3 {
  padding-right: 4%;
  padding-left: 4%;
}

.form-group label {
  padding-top: 12px;
  padding-bottom: 6px;
}

.form-group input {
  border-radius: 10px;
  border: 1px solid #00aaff;
  height: 46px;
  background-color: #0f1a29;
  color: #ffffff;
}
.form-group input:focus {
  height: 46px;
  background-color: #0f1a29;
  color: #ffffff;
}

.form-group a {
  position: relative;
  left: 70%;
  color: #00aaff;
}

.checkmark {
  position: relative;
  top: 17px;
  left: 0px;
  width: 18px;
}

/* input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 27px;
} */

.for-la {
}

.custom-check {
  margin-top: -12px;
  padding-bottom: 6%;
}

.custom-btn {
  padding-left: 45%;
  padding-right: 46%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #00aaff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}

.custom-btn:hover {
  background-color: #0093dd;
  /* color: #ffffff; */
  transition: 1.25s;
}

.footer-l {
  text-align: center;
  padding-top: 4%;
}

.footer-l a {
  color: #00aaff;
}
.sign-pass-eye {
  position: relative;
  top: 40px;
  left: 64%;
  cursor: pointer;
}

/* == Sign -Up css start == */

.singup-card {
  height: 71%;
}

.singup-btn {
  padding-right: 44%;
  padding-left: 44%;
  margin-top: -10px;
}

.singup-term {
  color: #00aaff !important;
  left: 1% !important;
}

.pass-eye {
  position: relative;
  cursor: pointer;
  top: 40px;
  left: auto;
  right: -58%;
}

.con-pass-eye {
  position: relative;
  cursor: pointer;
  top: 40px;
  left: auto;
  right: -40%;
}

.sig-fo {
  padding-top: 2%;
}
.sig-fo p {
  padding-top: 2%;
}

/* == Index page css start == */

.mobile-dis {
  display: none !important;
}

/*--------------------------------------------------------------
# This portion for mobile view.
# Css starts here
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  /* == sign-in page == */

  .card-s {
    font-size: 13px;
  }

  .card-p {
    width: 54%;
    top: 16%;
    left: 24%;
    height: 60%;
  }

  .card-t {
    font-size: 20px;
  }

  .sign-pass-eye {
    position: relative;
    top: 40px;
    cursor: pointer;
    right: -30%;
    left: auto;
  }

  .form-group a {
    left: auto;
    right: -42%;
  }

  .custom-btn {
    padding-left: 42%;
    padding-right: 42%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 428px) {
  /* == sign in page == */
  .card-p {
    width: 90%;
    top: 16%;
    left: 5%;
    height: 56%;
  }

  .header-img {
    width: 58%;
    margin-left: 22%;
  }

  .card-t {
    font-size: 20px;
  }

  .card-s {
    font-size: 12px;
  }

  .form-group label {
    font-size: 12px;
  }

  .form-group input {
    height: 42px;
    font-size: 12px;
  }

  .form-group a {
    left: 56%;
    font-size: 12px;
  }

  .sign-pass-eye {
    top: 36px;
    left: 46%;
  }

  .checkmark {
    top: 17px;
    width: 15px;
  }
  .custom-check {
    padding-bottom: 12%;
  }

  .custom-btn {
    padding-left: 41%;
    padding-right: 41%;
  }

  .font-color-s {
    font-size: 12px;
  }

  /* == sign up page == */

  .singup-card {
    width: 90% !important;
    top: 8% !important;
    left: 5% !important;
    height: 86% !important;
  }

  .pass-eye {
    position: relative;
    top: 38px;
    left: auto;
    cursor: pointer;
    right: -72%;
  }

  .con-pass-eye {
    position: relative;
    top: 38px;
    left: auto;
    cursor: pointer;
    right: -59%;
  }

  .sig-fo {
    margin-top: -8%;
  }

  .sig-fo p {
    padding-top: 8%;
  }

  .singup-btn {
    padding-right: 40%;
    padding-left: 40%;
    margin-top: -10px;
  }

  /* == Index page == */

  .width-zero {
    width: 0% !important;
  }

  .mobile-dis {
    display: block !important;
    padding-top: 18px !important;
    padding-bottom: 0px !important;
  }

  .index-nav {
    display: none !important;
  }

  .mobile-btn-i a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    left: 70%;
    top: 15px;
  }

  .mobile-head-img {
    width: 74%;
  }

  .mb-side-ber .navbar-toggler {
    color: #fff !important;
    background-color: #0f1a29 !important;
    border-color: #a0a0a0 !important;
    padding: 4px 6px 4px 8px;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.08rem !important;
  }

  .burger-icon {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .burger-icon > span.burger-icon-top {
    top: 2px;
  }

  .burger-icon > span.burger-icon-mid {
    top: 9px;
    width: 66%;
  }
  .burger-icon > span.burger-icon-bottom {
    bottom: 2px;
    width: 33%;
  }

  .burger-icon > span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
  }

  .burger-icon.burger-icon-white > span::before,
  .burger-icon.burger-icon-white > span::after {
    background-color: #a0a0a0;
  }
  .burger-icon > span::before,
  .burger-icon > span::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #333;
  }

  .burger-icon > span::before,
  .burger-icon > span::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #333;
  }

  .drop-a {
    padding-top: 15px;
  }

  .drop-a a {
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    padding-top: 8px;
    margin-left: -4%;
  }

  .nav-active {
    background: linear-gradient(
      90.16deg,
      rgba(255, 255, 255, 0.8) 4.56%,
      rgba(0, 170, 255, 0.5) 99.87%
    );
    padding: 1px;
    width: 12%;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 414px) {
  /* == sign in page == */

  .card-p {
    height: 66%;
  }

  /* == sign up page == */
  .sing-up-img {
    height: auto;
    padding-top: 10%;
    padding-bottom: 20%;
  }

  .singup-card {
    padding-bottom: 15px;
  }

  /* == Index page == */
  .mobile-btn-i a {
    font-size: 8px;
  }
}

@media only screen and (max-width: 393px) {
  /* == sign in page == */

  .card-p {
    width: 90%;
    top: 16%;
    left: 5%;
    height: 60%;
  }

  .sign-pass-eye {
    top: 36px;
    left: 43%;
  }

  .form-group a {
    left: 52%;
    font-size: 12px;
  }

  .custom-btn {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* == sign in page == */
  .singup-card {
    width: 90% !important;
    top: 1.5% !important;
    left: 5% !important;
    height: 97% !important;
  }
  .con-pass-eye {
    right: -58%;
  }
}

@media only screen and (max-width: 375px) {
  /* == sign in page == */

  .card-p {
    width: 90%;
    top: 16%;
    left: 5%;
    height: 70%;
  }
  .form-group a {
    left: 48%;
    font-size: 12px;
  }

  .sign-pass-eye {
    top: 36px;
    left: 38%;
  }

  .custom-btn {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  /* == sign in page == */

  .con-pass-eye {
    right: -52%;
  }

  .pass-eye {
    right: -67%;
  }

  .singup-btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  /* == sign in page == */
  .card-p {
    width: 90%;
    top: 8%;
    height: 450px;
  }

  .sing-in-img {
    padding-bottom: 20%;
    height: auto;
    padding-top: 10%;
  }

  .card-t {
    font-size: 16px;
  }

  .font-color-s {
    font-size: 10px;
  }

  .form-group a {
    left: auto;
    font-size: 12px;
    right: -40%;
  }
  .sign-pass-eye {
    top: 36px;
    left: auto;
  }

  .custom-btn {
    font-size: 16px;
  }

  /* == sign in page == */
  .sing-up-custom label {
    font-size: 10px !important;
  }

  .sing-up-custom a {
    font-size: 10px !important;
  }

  .su-check {
    top: 17px;
    width: 12px;
  }

  .singup-btn {
    font-size: 14px;
  }
}

@media only screen and (max-width: 280px) {
  /* == sign in page == */

  .card-p {
    height: 70%;
  }

  .sing-in-img {
    padding-bottom: 20%;
    height: 100vh;
    padding-top: 0;
  }

  .card-t {
    font-size: 14px;
  }

  .font-color-s {
    font-size: 8px;
  }

  .form-group label {
    font-size: 10px;
  }

  .form-group input {
    height: 38px;
    font-size: 10px;
    top: 15px;
  }

  .form-group a {
    left: auto;
    font-size: 10px;
    right: -42%;
  }

  .sign-pass-eye {
    top: 32px;
    left: auto;
    right: -28%;
  }

  .custom-btn {
    padding-left: 39%;
    padding-right: 39%;
    font-size: 16px;
  }

  /* == sign in page == */
  .singup-btn {
    font-size: 14px;
  }

  .si-up-eye {
    top: 35px;
    right: -64%;
  }

  .si-up-eye0 {
    top: 35px;
    right: -47%;
  }

  .checkmark {
    width: 12px;
  }
}

/* 

@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 428px) {}
@media only screen and (max-width: 414px) {}
@media only screen and (max-width: 393px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}
@media only screen and (max-width: 280px) {}

*/
